<!-- NAVBAR MENU -->
<div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "Pet Home", root_path, class: "navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home list", homes_path, class: "active" %></li>
                <li><%= link_to "Register home", new_home_path, class: "page-scroll" %></li>
            </ul>
          </div>
        </div>
      </nav>
</div>

      