function initMap(coordinates) {
  var map = new google.maps.Map(document.getElementById('map'), {
   zoom: 9,
   center: coordinates[0]
});

coordinates.forEach(function(coords){
  var contentString = 
    '<h3>' + coords['title'] + ' </h3>' +
    '<img src="/' + coords['avatar'] + '" />' +
    '<p>' + coords['desc'] + ' </p>' +
    '<p>Name: ' + coords['name'] + ' </p>' +
    '<p>Surname: ' + coords['surname'] + ' </p>' +
    '<p>Address: ' + coords['add'] + ' </p>' +
    '<p>Street number: ' + coords['str_number'] + ' </p>' +
    '<p>City: ' + coords['city'] + ' </p>' +
    '<p>Type pet: ' + coords['type_pet'] + ' </p>' +
    '<p>Max pets: ' + coords['max_pets'] + ' </p>' +
    '<p>Phone number: ' + coords['phone_num'] + ' </p>' +
    '<p>Email: ' + coords['email'] + ' </p>' +
    '<a href="' + coords['show_url'] + '" > Show home </a>'
    
  var marker = new google.maps.Marker({
     position: coords,
     map: map,
     title: 'Click me!!',
     icon: '/assets/marker.png'
  });

  var info_window = new google.maps.InfoWindow({
    content: contentString
  });

  marker.addListener('click', function() {
    info_window.open(map, marker);
    });
  }) //End coordinates.forEach(function(coords)
} //End initMap(coordinates)

function createMarker(position, address){
  var marker = new google.maps.Marker({
    position: position,
    map: map
  });
}