<!-- Hero content: will be in the middle -->
<body onload="initialize()">
    <div class="home_background">
      <img src="" class="wall_home">
    	<!-- Search bar autcomplete -->
    	<div class="flex-container c-2column" id="locationField">
				<input class="flex-item" id="autocomplete" placeholder="Search for your Pet Home" onFocus="geolocate()" type="text"></input>
			</div>
		</div>
</body>



