<!-- Hero content: will be in the middle -->
    <div class="home_background">
      <img src="http://eskipaper.com/images/girl-dog-photo-1.jpg">
    </div>

<!-- Search bar -->
    <div class="row">
	    <form class="col s12">
	      <div class="row">
	      	<div class="input-field col s8">
	          <input id="last_name" type="text" class="validate">
	          <label for="last_name">Choose your address or city</label>
	        </div>
	      </div>
	    </form>
    </div>d