<section class="hero is-success is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Feel like at home
      </h1>
      <div id="input-wrapper">
      </div>
	      <p>
		      <%= form_tag(search_path, method: :post, id: "search-form") do %>
		      	<%= text_field_tag :search, nil, value: @query, placeholder: "Search by city and press Enter", class: "form-control" %>
            <%= submit_tag "SEARCH" %>
		      <% end %>
	      </p>
    </div>
  </div>
</section>

<script>initialize()</script>

