<!-- BACKGROUND HOME AND NAVBAR -->
<section class="hero is-success is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Feel like at home
      </h1>
	      <p>
		      <%= form_tag(search_path, method: :post, id: "search-form") do %>
		      	<%= text_field_tag :search, nil, value: @query, placeholder: "Search by city and press Enter", class: "form-control" %>
            <%= submit_tag "Search" %>
		      <% end %>
	      </p> 
    </div>
  </div>
</section>

<div>
	<div id="map"></div>
</div>

<script>initialize()</script>

