<!-- Search -->
<div class="container">
	<p>
	  <%= form_tag(search_path, method: :post, id: "search-form") do %>
	  	<%= text_field_tag :search, nil, value: @query, placeholder: "Search by city and press Enter", class: "form-control" %>
	    <%= submit_tag "Search" %>
	  <% end %>
	</p>
</div>
<div id="map"></div>

<script>
  <% if @homes.any? %>
    var coordinates = <%= raw(@homes.map { |home| { lat: home.latitude, lng: home.longitude, add: home.address, post: home.postcode, city: home.city, avatar: home.avatar.path(:medium), state: home.state, str_number: home.street_number, country: home.country, max_pets: home.max_pets, type_pet: home.type_pet, name: home.name, surname: home.surname, email: home.email, phone_num: home.phone_number, title: home.title, desc: home.description, show_url: home_path(home) } }.to_json) %>;
    initMap(coordinates);
  <% else %>
    $("#map").html("No hay casas en el area seleccionada")
  <% end %>
</script>