//Form new house Styles
* { 
  box-sizing: border-box; 
}

body {
  margin: 10rem;
}

input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 4px 10px;
  border: 1px solid #efefef;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;

  -webkit-border-radius: 2px;
          border-radius: 2px;
}

input:disabled {
  background-color: #efefef;
  cursor: not-allowed;
}

label {
  display: block;
  width: 100%;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.c-address-search {
  width: 100%;
}

.c-address-search input {
  margin: 10px;
}

.form-address {
	width: 50%;
  margin: 10px;
}

.flex-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 5px;
}

.flex-item {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 10px 0;
}

.c-1column {
  width: 100%;
}

.c-2column {
  width: 70%;
  margin-right: 10px;
}

.c-2column:last-child {
  margin-right: 0;
}

.form-address{
  float: center;
}