    #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }

    #map {
      width: 90%;
      height: 500px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }